@inherits LayoutComponentBase

@inject NavigationManager NavManager
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <input type="text" @bind-value="searchString" @onkeyup="@KeyUp" />
        <input type="button" value="Search" @onclick="@RedirectToCatalog" />
        <a href="@(Configuration.GetValue<string>("CocktailDbAbout"))" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code{
    private string searchString;

    private void RedirectToCatalog()
    {
        NavManager.NavigateTo($"/catalog/{searchString}");
    }

    private void KeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            RedirectToCatalog();
        }
    }
}
