@page "/"
@inject HttpClient Http

<h1>EAD1 CA3 - Blazor WASM Client</h1>

<p>This application consumes the <a href="https://www.thecocktaildb.com/api.php"><strong>TheCocktailDB</strong></a></p>

@if (string.IsNullOrEmpty(randomJoke))
{
    <p><em>Loading joke...</em></p>
}
else
{
    <p>@WebUtility.HtmlDecode(randomJoke)<small> - The Internet Chuck Norris Database</small></p>
}

@code
{
    private string randomJoke = "";
    private string JokeDbUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var config = await Http.GetFromJsonAsync<Settings>("appsettings.json");
        JokeDbUrl = config.BaseURLs.JokeDb;

        await GetRandomNorrisJoke();
    }

    private async Task GetRandomNorrisJoke()
    {
        var jokeResponse = await Http.GetFromJsonAsync<ChuckNorrisJokeResponse>($"{JokeDbUrl}/random");
        randomJoke = jokeResponse.Value.Joke;
    }
}
